
<ul id="FacetList1" class="nav nav-list" data-step="3" data-intro="Facets provide intuitive paths for improving accuracy and finding relationships between documents." >
  <li ng-repeat="facet in SearchService.facets" >      
    <label class="tree-toggler nav-header" >{{facet.Name}}</label>
    <ul class="nav nav-list tree">
      <li ng-repeat="value in facet.Values.Values | orderBy:'Hits':true | limitTo:5 ">              
        <a href="#" ng-click="SearchService.addFacet(facet.Name,value.Range)">          
          <i class="{{ SearchService.facetIsApplied(facet.Name,value.Range) && 'icon-check' || 'icon-check-empty' }}" ></i>
          {{value.Range | rangefacet | humanize | titleize }} 
          <span class="badge pull-right">{{value.Hits}}</span>                
        </a>
       </li>    
    </ul>
  </li>
</ul>    