<form class="form-search" style="margin: 0px; padding-top: 5px;" ng-submit="submit()">
    <div id="SearchBox1" class="input-append" data-step="1" data-intro="Search box allows for Lucene query syntax, such as Title:'Some Title' AND Actors:*Nelson " >
        <input 
          ng-model="service.searchTerms" 
          type="text" 
          class="span3 search-query " 
          placeholder="Search..." ng-disabled="service.processing()" >
        <button type="submit" class="btn" ng-disabled="service.processing()" >
            <i class="icon-spinner icon-spin  icon-large" ng-show="service.processing()"></i>
            <em ng-show="service.processing()">Searching</em>
            <span ng-hide="service.processing()">Search</span>
        </button>
        
    </div>
</form>