<div class="well">
    <h4 data-step="5" data-intro="Results show highlighted terms surrounded by text snippets that provide context. Snippets are pulled from the index (not the database) which speeds up the results.">{{service.currentTitle.Title}}</h4>
    <p ng-bind="service.currentTitle.plot_simple"></p>
    <div class="row">
        <div class="span3">
            <dl>
                <dt>Directors</dt>
                <dd ng-repeat="item in service.currentTitle.Directors">{{item}}</dd>
            </dl>            
            <dl>
                <dt>Writers</dt>
                <dd ng-repeat="item in service.currentTitle.Writers">{{item}}</dd>
            </dl>                        

            <dl>
                <dt>Genres</dt>
                <dd ng-repeat="item in service.currentTitle.Genres">{{item}}</dd>
            </dl>                        
            <dl>
                <dt>Languages</dt>
                <dd ng-repeat="item in service.currentTitle.Language">{{item}}</dd>
            </dl>                        
            <dl>
                <dt>Country</dt>
                <dd ng-repeat="item in service.currentTitle.Country">{{item}}</dd>
            </dl>                        
        </div>
    
        <div class="span3">
            <dl>
                <dt>Actors</dt>
                <dd ng-repeat="actor in service.currentTitle.Actors">{{actor}}</dd>
            </dl>            
        </div>
    </div>
    <p ng-bind="service.currentTitle.Plot"></p>
</div>