<div class="container">
    <div class="row">
        <div class="span3">
            
            <ul ng-repeat="facet in results().FacetedResults" class="nav nav-list">
                <li>
                    <facet-control facet="facet"></facet>
                </li>
            </ul>

        </div>

        <div class="span9">
            <span ng-show="results().Suggestions" class="help-block">
                Did you mean 
                <span ng-repeat="suggestion in results().Suggestions | limitTo: 5">
                    <suggestion-control suggestion="suggestion"></suggestion-control>                    
                </span>
                ? 
            </span>
            <br />
            <span ng-repeat="facetFilter in results().FacetedFilterApplied">
                <span class="btn btn-mini" ng-click="removeFacet(facetFilter)">
                    {{facetFilter.facet | humanize | titleize }}: 
                    {{facetFilter.selectedValue | rangefacet | humanize | titleize }} 
                    &emsp;
                    <i class="icon-remove"></i></span>
            </span>
            <br />
            <ol>
                <li ng-repeat="item in results().TitlesFound">
                    <a href="#/title/{{item.Id}}">{{item.Title}}</a>
                    <span class="label pull-right">{{item.Score }}</span>
                    <br />
                    <em>{{ item.PlotSimple }}</em>
                    <br />
                    <div>
                        <blockquote ng-repeat="subItem in item.Highlights">
                            &hellip; <span ng-bind-html="subItem"></span>
                        </blockquote>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
