<div class="container">
    <div class="row">
        <div class="span3">
            <ul class="nav nav-list">
                <li><label class="nav-header">Query Stats</label></li>
                <li>Total Results = {{searchResults.Stats.TotalResults}}</li>
                <li>Skipped Results = {{searchResults.Stats.TotalResults}}</li>
                <li>Index = {{searchResults.Stats.IndexName}}</li>
                <li>Stale = {{searchResults.Stats.IsStale}}</li>
                <li>Build = {{searchResults.BuildId | truncate:4}}</li>
            </ul>
            <h6>Facets</h6>
            <ul ng-repeat="facet in searchResults.FacetedResults" class="nav nav-list">
                <li>
                    <label class="tree-toggler nav-header">
                        {{facet.Name }}</label>
                    <ul ng-repeat="facetValue in facet.Values.Values | orderBy:'Hits':true | limitTo:5 " class="nav nav-list tree">
                        <li>
                            <a href="#" ng-click="setFacet(facet,facetValue)" eat-click>
                                <i class="icon-li icon-chevron-sign-right" ng-show="facetIsSelected(facet)"></i>
                                {{facetValue.Range | rangefacet | humanize | titleize }} 
                                <span class="badge pull-right">{{facetValue.Hits}}</span>
                            </a> 
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="span9">
            
            <div class="input-append ">
                <form ng-submit="submitRequest()">
                    
                    <input class="span8" id="appendedInputButtons" type="text" ng-model="searchTerms" placeholder="Search...">
                    <button class="btn" type="submit">Search
                        <i class="icon-spinner icon-spin  icon-large" ng-show="showProcessingIcon"></i>
                    </button>

                </form>
            </div>
            <span ng-model="errorMessage" class="alert alert-error" ></span>
            <span ng-show="searchResults.Suggestions" class="help-block">Did you mean 
                <span ng-repeat="suggestion in searchResults.Suggestions | limitTo: 5">
                    <em><a href="#" ng-click="selectSuggestion(suggestion)" eat-click>{{suggestion}}</a></em>
                </span>
                ? 
            </span>
            <br />
            <span ng-repeat="facetFilter in searchResults.FacetedFilterApplied">
                <span class="btn btn-mini" ng-click="removeFacet(facetFilter)">
                    {{facetFilter.facet | humanize | titleize }}: 
                    {{facetFilter.selectedValue | rangefacet | humanize | titleize }} 
                    &emsp;
                    <i class="icon-remove"></i></span>
            </span>
            <br />
            <ol>
                <li ng-repeat="item in searchResults.TitlesFound">
                    <a href="#/title/{{item.Id}}">{{item.Title}}</a>
                    <span class="label pull-right">{{item.Score }}</span>
                    <br />
                    <em>{{ item.PlotSimple }}</em>
                    <br />
                    <div>
                        <blockquote ng-repeat="subItem in item.Highlights">
                            &hellip; <span ng-bind-html="subItem"></span>
                        </blockquote>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
